body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #c9c9c9;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #c9c9c9 !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -12px !important;
  height: 70px;
  border-radius: 0;
}

header{
  padding: 180px 0 165px;
  margin-top: -90px;
  background-image: url(../images/student.jpg);
  background-size: cover;
}

.header-admin {
  padding: 180px 0 165px;
  margin-top: -90px;
  background-image: url(../images/admin.jpg);
  background-size: cover;
}

/* background-image: url('https://source.unsplash.com/random/500x500/?school'); */

#myCarousel .carousel-inner .carousel-item .container .carousel-caption .btn-lg {
  background-color: #ff9e53;
  color: #ffffff;
}

#myCarousel .carousel-inner .carousel-item .container .carousel-caption .btn-lg:hover {
  background-color: #fafafa;
  color: #838383;
}

header h1,
header p {
  color: #071c4d;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #ff9e53;
  color: #ffffff;
}

header .btn-get-started:hover {
  background-color: #ffaa69;
  color: #ffffff;
}

header .btn-dashboard:hover {
  background-color: #fafafa;
  color: #838383;
}

header .btn-search {
  background-color: #ff9e53;
  color: #ffffff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
  margin-bottom: auto;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 15px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #ffaa69;
  color: #ffffff;
}

.section-footer a {
  color: #071c4d;
  text-decoration: none;
}

.container-fluid {
  color: #c3c3c3;
}

.section-details.header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -90px;
}

.section-details-content {
  margin-top: -200px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.section-details-content .card-details {
  padding: 30px;
  margin-left: 10px;
  border-radius: 11px;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #071c4d;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #ffffff;
  border-radius: 0;
  margin-left: 10px;
}

.section-details-content .btn-join-now:hover {
  background-color: #ffaa69;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */